/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 3em;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
}
 
header {
  position: relative;
}
 
#login-buttons {
  display: block;
}

.login-form,
.accounts-dialog * {
  font-size: 2em;
}

#login-dropdown-list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 50px;
  width: auto;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  font-size: 2em;
  margin-top: 100px;
  margin-bottom: 100px;
}

.accounts-dialog > .login-close-text {
  font-size: 3em;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.play-controls,
.admin-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
}

.play-controls,
.admin-controls,
.start-game {
  z-index: 3;
}



.play-controls button,
.admin-controls button {
  flex-basis: 50%;
  font-size: 2em;
  margin: 0;
  padding: 30px;
  text-transform: uppercase;
  height: 300px;
  background-color: white;
}

.start-game button {
  flex-basis: 100%;
}

.play-controls button:nth-child(2) {
  border-left: 10px solid black;
}

.play-controls {
  border-top: 10px solid black;
}

.admin-controls {
  bottom: auto;
  top: 0;
  border-bottom: 10px solid black;
}

.admin-controls button {
  flex-basis: 100%;
}

#game-message-passed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EEE;
  opacity: 0.9;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  animation: mymove 0.5s;
}

#game-message-passed span {
  height: 300px;
  width: 100%;
  background-color: red;
  font-size: 6em;
}

@keyframes mymove {
  0%   {display: block;}
  25%  {background-color: green;}
  50%  {background-color: yellow;}
  75%  {background-color: red;}
  100% {display: none;}
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container div.login-close-text-clear {
  display: block;
}

#name-in-play {
  font-size: 5em;
}

#game-screen h1 {
  position: fixed;
  top: 20px;
  text-align: center;
  left: 0;
  right: 0;
}

#game-wrapper {
  display: block;
}

#game-screen-stopped,
#game-screen-user-list {
  flex-basis: 100%;
  display: block;
}

.countBox div,
.root-react-component-countdown-timer,
.root-react-component-countdown-timer div  {
  display: inline;
  font-size: 2em;
}

.countBox > div:nth-child(2) {
  display: none;
}




  
.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: white;
  border: 5px solid black;
  width: 100%;
  padding: 15px 80px 15px 15px;
  margin: 10px 0;
  font-size: 1em;
}
 
.new-task input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .hide-completed {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-task input {
    padding-bottom: 5px;
  }
}
